{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
    <style media="screen" type="text/css">
        div.success-pane, div.error-pane {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid pb-5 mb-5">
        <div class="success-pane container">
            <h1 class="mb-5">SARI Web</h1>
            <p class="lead">Get the configuration parameters to access an RDS instance.</p>
            <form class="form-inline">
                <div class="row align-items-end">
                    <div class="col-md d-flex flex-column col-form-label-sm align-items-start">
                        <label for="region">AWS Region:</label>
                        <select id="region" class="form-control" data-width="auto">
                        </select>
                    </div>
                    <div class="col-md d-flex flex-column col-form-label-sm align-items-start">
                        <label for="db_id">DB Identifier:</label>
                        <select id="db_id" class="form-control" data-live-search="true" data-size="10"
                                data-width="auto">
                        </select>
                    </div>
                    <div class="col-md d-flex flex-column col-form-label-sm align-items-start">
                        <label for="sel_db_name">Database:</label>
                        <select id="sel_db_name" class="form-control" data-live-search="true" data-size="10"
                                data-width="auto">
                        </select>
                    </div>
                    <div class="col-md col-form-label-sm">
                        <button id="get_config" type="button" class="btn btn-outline-success form-control">Get
                            Configuration
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="error-pane container text-center">
            <h1 class="mb-2">SARI Web</h1>
            <img class="w-25 mb-4" src="{{ url_for('static', filename='assets/confused.png') }}" alt="confused emoji">
            <p id="error-message" class="lead"></p>
            <div class="error-actions">
                <a href="{{ config['sso_url'] }}" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span>Okta Home</a>
            </div>
        </div>
    </div>
    <div class="success-pane container">
        <form>
            {% for width, label, id_ in [
            (3, "SSH Hostname", "bh_hostname"),
            (3, "SSH Username", "bh_username"),
            (6, "RDS Hostname", "rds_hostname"),
            (2, "RDS Server Port", "rds_port"),
            (4, "Username", "rds_username"),
            (10, "Password", "rds_password"),
            (3, "Database", "db_name"),
            ] %}
                <div class="form-group row">
                    <label for="{{ id_ }}" class="col-sm-2 col-form-label font-weight-bold px-0 text-right">{{ label }}</label>

                    <div class="col-sm-{{ width }}">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control d-inline-block text-truncate" id="{{ id_ }}" readonly>
                            <button type="button" class="btn" data-clipboard-target="#{{ id_ }}">
                                <img src="{{ url_for('static', filename='assets/clippy.svg') }}" width="13"
                                     alt="Copy to clipboard">
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>
        let databases = null;

        let clipboard = new ClipboardJS('.btn');
        clipboard.on("success", function (e) {
            e.clearSelection();
        })

        $(document).ready(function () {
            $.getJSON("{{ url_for('list_databases') }}", function (databases_) {
                databases = databases_;
                if ($.isEmptyObject(databases)) {
                    ready_for_error("Sorry, but we couldn't find any RDS instance you are allowed to access " +
                        "on this AWS account.");
                } else {
                    ready_for_success();
                    fill_select_picker("#region", Object.keys(databases).sort());
                }
            })
        })

        $("#region").change(function () {
            fill_select_picker("#db_id", Object.keys(databases[$("#region").val()]).sort());
        })

        $("#db_id").change(function () {
            fill_select_picker("#sel_db_name", databases[$("#region").val()][$("#db_id").val()].sort());
        })

        $("#get_config").click(function () {
            let region = $("#region").val();
            let db_id = $("#db_id").val();
            let db_name = $("#sel_db_name").val();
            {# It's not possible to prevent the HTML escaping inside the url_for() function. #}
            {# The workaround is to use replace() to unescape the delimiters. #}
            let url = `{{ url_for('get_db_configuration', region="${region}", db_identifier='${db_id}', db_name='${db_name}')
                          | replace("%24%7B", "${")
                          | replace("%7D", "}")}}`;
            $.getJSON(url, function (config) {
                for (const [key, value] of Object.entries(config)) {
                    let element = $(`#${key}`)
                    element.val(value);
                }
            })
        })

        function fill_select_picker(id, options) {
            const select = $(id);
            select.empty()
            options.forEach(function (key) {
                select.append(new Option(key, key))
            });
            select.selectpicker('refresh');
            select.change();
        }

        function ready_for_success() {
            $('.error-pane').hide();
            $('.success-pane').show();
        }

        function ready_for_error(message) {
            $('.success-pane').hide();
            $('#error-message').text(message);
            $('.error-pane').show();
        }
    </script>
{% endblock %}
