{% extends "base.html" %}

{% block content %}
    <div class="jumbotron pb-5 mb-5 pt-0">
        <div class="container">
            <nav class="navbar navbar-dark bg-secondary justify-content-between py-1 mb-5">
                <a class="navbar-brand font-weight-bold">SARI Web</a>
                {% if aws_account %}
                    <form class="form-inline align-items-end">
                    <div class="col-auto col-form-label-sm py-0">
                        <label class="nav-label">AWS Account</label>
                        <button class="btn btn-light nav-button py-0" type="button" disabled>
                            {{ aws_account.alias }} ({{ aws_account.id }})
                        </button>
                    </div>
                    </form>
                {% endif %}
                <form class="form-inline d-flex align-items-stretch" action="{{ url_for("web_bp.logout") }}" method="post">
                    {% if session_timeout %}
                        <div class="col-auto col-form-label-sm py-0">
                            <label class="nav-label">Session End</label>
                            <button class="btn btn-light text-monospace nav-button py-0" type="button" disabled>
                                <span id="session_timeout">00:00:00</span>
                            </button>
                        </div>
                    {% endif %}
                    <div class="pr-0">
                        <button class="btn btn-dark px-3" type="submit"
                                style="height: 100%; font-size: 1.25rem;">
                            Exit<i class="fa fa-sign-out ml-2"></i>
                        </button>
                    </div>
                </form>
            </nav>
            {% block jumbo_contents_top %}
            {% endblock %}
        </div>
    </div>
    {% block jumbo_contents_bottom %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js"
            integrity="sha384-2B/wBCdjAUU/YBoPNyeMGxfXWhtxcQaDnAg02ilzQ6Y2Zqq9XalRKILiKDNj75ow"
            crossorigin="anonymous"></script>
    <script>
        let session_timeout = {{ session_timeout }};
    </script>
{% endblock %}
