{% extends "io_page.html" %}

{% block styles %}
    {{ super() }}
    <link rel=stylesheet href="{{ url_for('static', filename='css/select_account.css') }}"/>
{% endblock %}

{% block jumbo_contents_top %}
    <p class="lead">Select the AWS Account:</p>
    <form method="post">
        {% for account_id, alias in accounts.items() %}
            <div class="custom-control custom-radio mt-3">
                <input class="form-control custom-control-input" type="radio" name="account_id"
                       id="account{{ loop.index0 }}"
                       value="{{ account_id }}" {{ "checked" if loop.index0 == 0 else "" }}>
                <label class="custom-control-label" for="account{{ loop.index0 }}">{{ alias }}
                    ({{ account_id }})</label>
            </div>
        {% endfor %}
        <input type="text" name="SAMLResponse" class="form-control" value="{{ saml_assertion }}" hidden>
        <button id="submit" type="submit" class="btn btn-primary mt-5" formtarget="_self">Continue</button>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select_account.bundle.js') }}"></script>
{% endblock %}
